<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- invest.cpedia.com: http://code.google.com/p/hedge-fund created by cpedia: http://blog.cpedia.com -->
    <meta name="keywords" content="investpedia,investcpedia,invest.cpedia.com,invest,invest dictionary" />
    <meta name="description" content="Invest dictionary supplied by http://invest.cpedia.com" />
    <meta name="author" content="cpedia, Ping Chen, http://blog.cpedia.com" />
    <meta name="copyright" content="2009 http://invest.cpedia.com" />
    <title>{% block title %}{{title}}{% endblock %}</title>
    {% block header %}
    {% endblock %}    
    <link rel="stylesheet" href="/static/stylesheets/dict.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" />
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo/yahoo-min.js" ></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
</head>
<body class="yui-skin-sam">
<div id="doc2" class="yui-t1">
    <div id="hd">
        {% include "base_top.html" %}
        {% if user_is_admin %}
        <div style="text-align:center;">
            <a href="/tasks/getterms/1/">#</a> | <a href="/tasks/getterms/a/">A</a> | <a href="/tasks/getterms/b/">B</a> | <a
                href="/tasks/getterms/c/">C</a> | <a href="/tasks/getterms/d/">D</a> | <a href="/tasks/getterms/e/">E</a> | <a
                href="/tasks/getterms/f/">F</a> | <a href="/tasks/getterms/g/">G</a> | <a href="/tasks/getterms/h/">H</a> | <a
                href="/tasks/getterms/i/">I</a> | <a href="/tasks/getterms/j/">J</a> | <a href="/tasks/getterms/k/">K</a> | <a
                href="/tasks/getterms/l/">L</a> | <a href="/tasks/getterms/m/">M</a> | <a href="/tasks/getterms/n/">N</a> | <a
                href="/tasks/getterms/o/">O</a> | <a href="/tasks/getterms/p/">P</a> | <a href="/tasks/getterms/q/">Q</a> | <a
                href="/tasks/getterms/r/">R</a> | <a href="/tasks/getterms/s/">S</a> | <a href="/tasks/getterms/t/">T</a> | <a
                href="/tasks/getterms/u/">U</a> | <a href="/tasks/getterms/v/">V</a> | <a href="/tasks/getterms/w/">W</a> |
            <a href="/tasks/getterms/x/">X</a> | <a href="/tasks/getterms/y/">Y</a> | <a href="/tasks/getterms/z/">Z</a>
        </div>
        {% endif %}
        {% if msg %}<div class="msg moz-border">{{msg}}</div>{% endif %}
    </div>
    <br>
    <div id="bd">
        <div id="yui-main">
            <div class="yui-g">
                    {% block dict %}
                    {% endblock %}
            </div>
        </div>
    </div>
    <div id="ft">
        {% include "footer.html" %}
    </div>
</div>
</body>
</html>
