<div class="menu_top">
    <div id="gaia">
        {% if user %}
        <b>{{ user.email }}</b> |
        <a href='/settings'>Settings</a> |
        <a href='/help'>Help</a> |
        <a href="{{sign_url}}">Sign out</a>
        {% else %}
        <a href="{{sign_url}}">Sign in with your Google Account</a>
        {% endif %}
    </div>
    <div class="gbh" style="left: 0;right: 0;"> &nbsp;</div>
    <div id="logodiv" style="text-align:center;">
        Investcpedia
    </div>
</div>
