.moz-border {
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
}

.yui-skin-sam .yui-dt table{
   width:100% 
}

.gbh {
    border-top: 1px solid #C9D7F1;
    height: 4px;
    margin-top: 4px;
    position: absolute;
    width: 100%;
}

#gaia {
    text-align: right;
}

#logodiv {
    margin: 6px;
}

#footer {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5em;
}

#google_ad {
    margin-right: 20px;
    padding-top: 20px;
}

#logo {
    background: #efefef;
    border: 1px #cccccc solid;
    height: 148px;
    padding-right: 5px;
    padding-top: 2px;
    text-align: right;
}
.msg{
    padding: 2px; 
    font-size: 0.9em;
    background-color:rgb(221, 248, 204);
}

#menu_list li{
    padding:3px
}